# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
*.env

# Docker
docker/letsencrypt/

# Uploads Temporários
backend/uploads/
backend/temp/

# Streamlit
frontend/.streamlit/

# IDEs e Editor
.vscode/
.idea/
*.log

# Outros
*.DS_Store
